version: '3.8'


services:
  mongodb:
    image: mongo:latest
    container_name: test-mongoDB
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always
    command: ["--replSet", "rs0", "--bind_ip_all"]


volumes:
  mongodb_data:
