version: "3.8"

services:
  mongodb:
    image: mongo:latest
    container_name: test-mongodb
    ports:
      - "127.0.0.1:27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: pass
      MONGO_INITDB_DATABASE: book-service
    volumes:
      - mongodb_data:/data/db
    restart: always


volumes:
  mongodb_data:
